.mat-mdc-radio-button ~ .mat-mdc-radio-button {
    margin-left: 16px;
  }

  .headerContainer{
    display: flex;
    justify-content: center;
}

  .cardNoteContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin: 30px 0px 10px 0px;
  }

  .cardNotes{
    width: 240px;
    text-align: center;
  }

  .cardNotes h2{
    margin-left:auto;
    max-width: 88%;
  }

  .cardNotes mat-card-header{
    justify-content: center;
  }

  mat-card{
    border-radius: 20px;
  }

  mat-card-content p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 0px;
    text-align: left;
    margin-bottom: 0px!important;
    word-wrap: break-word;
  }

  mat-card-footer{
    display: flex;
    align-items: center;
    margin: auto;
    text-align: right;
    width: 95%;
  }


  .dateFooter{
    margin-left: auto;
  }

  mat-card{
    position: relative;
  }
  .closeContainer{
    position: absolute;
    right: -12px;
    top: -12px;
    background: firebrick;
    border-radius: 50%;
    border-radius: 50%;
    color: white;
    display: flex;
  }

  .completedContainer{
    position: absolute;
    left: -12px;
    top: -12px;
    background: gray;
    border-radius: 50%;
    border-radius: 50%;
    color: white;
    display: flex;
  }

  .noteTitle{
    color: #5f6368;
    letter-spacing: 0.07272727em;
    font-family: Roboto, Arial, sans-serif;
    font-size: 0.6875rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 32px 32px 8px;
  }

